[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "hildareadR"]
	path = hildareadR
	url = https://github.com/cran/hildareadR
	shallow = true
	registered = true
